In [2]:
import pandas as pd
import numpy as np

## Data cleaning steps 

I started by exploring the dataset and correcting data types, converting Quantity, Total Spent and Price Per Unit to numeric and Transaction Date to datetime. Then, I handled missing values: for Quantity, Price, and Total Spent, I calculated missing values when possible instead of dropping rows. For categorical columns like Location with "UNKNOWN" or "ERROR", I grouped them as "Other" to preserve data. I dropped rows with missing Transaction Date or Item, since they were a small percentage and critical for analysis. Now, the dataset is clean, consistent, and ready for further analysis.

In [3]:
df = pd.read_csv('/home/jovyan/MonDossier/Portfolio/Cleaning data/dirty_cafe_sales.csv')
df.head(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

## Exploring Data

In [4]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

## Change datatype

1. change data type for quantity , price and total spent because these columns are supposed to be numerical 
2. change data type for transaction date  to date

In [6]:
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce").astype('float')
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors="coerce").astype('float')
df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors="coerce").astype('float')
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"], errors="coerce")

## Handling missing values

In [7]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

## Populate missing values in quantity , price and Total spent

In [8]:
df["Quantity"].fillna(df["Total Spent"]/df["Price Per Unit"], inplace=True)
df["Price Per Unit"].fillna(df["Total Spent"]/df["Quantity"], inplace=True)
df["Total Spent"].fillna(df["Quantity"]*df["Price Per Unit"], inplace=True)

In [9]:
df.dropna(subset=["Quantity", "Price Per Unit", "Total Spent"], how="all",inplace = True)

In [10]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [11]:
df = df.dropna(subset=["Quantity", "Price Per Unit"], how="all")
df = df.dropna(subset=["Quantity", "Total Spent"], how="all")
df = df.dropna(subset=["Total Spent", "Price Per Unit"], how="all")

In [12]:
df[df["Total Spent"].isna()]

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

## Location

In [13]:
df["Location"].replace(("ERROR", "UNKNOWN"), np.nan, inplace= True)

In [14]:
df["Location"].fillna("others", inplace = True)

In [15]:
df["Location"].value_counts()

others      3940
Takeaway    3004
In-store    2998
Name: Location, dtype: int64

## Payment Method

In [16]:
df["Payment Method"].value_counts()

Digital Wallet    2280
Credit Card       2260
Cash              2244
ERROR              302
UNKNOWN            292
Name: Payment Method, dtype: int64

In [17]:
df["Payment Method"].replace(("ERROR", "UNKNOWN"), np.nan, inplace= True)
df["Payment Method"].fillna("others", inplace = True)

## Transaction Date

In [18]:
df = df.dropna(subset=["Transaction Date"])

## Item

In [19]:
df["Item"].value_counts()

Juice       1120
Coffee      1116
Salad       1095
Cake        1077
Sandwich    1066
Smoothie    1042
Cookie      1028
Tea         1020
UNKNOWN      327
ERROR        281
Name: Item, dtype: int64

In [20]:
df["Item"]. replace(("ERROR", "UNKNOWN"),np.nan, inplace = True)
df = df.dropna(subset=["Item"])

## Result

In [21]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64